<!DOCTYPE html>
<html>
<head>
    <title>About</title>
      <link rel='icon' href="/img/images.png">
    <link rel="stylesheet" href="/css/style.css">
     
</head>
<body>
     <div class="main-content">
      {{>header}}
      <img class="portrait other" src="/img/me.jpg">
      <hr>
      <p><b>About Me:</b>This is S.Vasanth.Web App Developer.<br><b>Location:</b>Chennai,India.<br><b>Contact:</b>vasanth7085@gmail.com</p>
    
     </div>
      
       {{>footer}}
      
      
</body>
</html>