<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
      <link rel='icon' href="/img/images.png">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="main-content">
    {{>header}}
      <p>{{helptext}}</p>
      <ul>
        <li>Give the correct Address.</li>
        <li>Make sure the internet connection.</li>
        <li>And Try again.</li>

      </ul>
      
      </div>
      {{>footer}}
      
</body>
</html>